DB_HOST= host_DB
DB_USER=LOGIN_DB
DB_PASSWORD=PSW_DB
DB_NAME=NAME_DB
DB_PORT=PORT_DB

JWT_SECRET='SECRET_KEY'
NODE_ENV=development
SAME_SITE=lax

PORT=PORT_BACKEND

NODE_FRONTEND=URL_FRONTEND

PROXY_ENCRYPTION_KEY='KEY_ENCRYPTION_PROXY_IN_DB'
PROXY_TEST_URL="https://www.youtube.com/generate_204"